/*Especificidad: 001*/
body {
  font-family: "Arial Black", sans-serif;
  color: #010100;
  background-color: #A0E7E5;
  }

  /*Especificidad: 001*/
  /*Color es heredado de body*/
header a {
  text-decoration-line:none;
  }

/*Especificidad: 001*/
h1 {
  color: #A0E7E5;    
  background-color:#010100;  
}

 
video {
 width:100%;
 height:auto;
}

@media (min-width: 768px) {
  /* Para pantallas más grandes que 768px (como la mayoría de los PCs) */
  video {
    width: 60%; /* Limita el video a un 60% del ancho en pantallas grandes */
  }

  /*Especificidad: 001*/
nav {
  color:#010100;    
  background-color:#FFFFFF;  
  }

/*Escpecificad: 002*/
body >p{
font-size:0.8em
}





 /*Especificidad: 001*/
table {
  width: 100%; /* Asegura que la tabla ocupe el 100% del ancho disponible */
  border-collapse: collapse; /* Elimina los espacios entre las celdas */
  border: 3px solid purple; /* Borde de la tabla */
}

th, td {
  border: 1px solid purple; /* Borde para las celdas */
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alineación de texto */
}


/* Contenedor para la tabla */
.table-container {
  max-width: 100%; /* Evita que el contenedor exceda el ancho de la pantalla */
}

 
a[href^="https://"] {
  background: transparent; /* Fondo por defecto */
}


a[href^="https://"]:focus {
  background: yellow;
}


a[href^="https://"]:hover {
  background: orange;
}

ol {
  list-style-type: upper-roman;
}
ul {
  padding-left: 3rem;
  list-style-type: none;
}
dd{
  color:#df2020
}

dt {
  line-height: 1.5;
  font-weight: bold;
  color:#0000FF

}

