/*Nestor Fernandez Garcia UO285412*/

/*Especificidad (0,0,1)*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
}
/*La propiedad flex-direction se redefine*/
@media (max-width: 465px) {
  /*Especificidad (0,0,1)*/
  header{
    flex-direction: column;
  }
  }