/* Especificidad (0,0,2) */
main > section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

/* Especificidad (0,0,3) */
main > section h2 {
    grid-column: span 4;
    text-align: center;
}

/* Especificidad (0,0,3) */
main > section > button {
    grid-column: span 2;
    padding: 0.5rem 1rem;
}

/* Sección de cartas */
/*Especificidad (0,0,1)*/
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 1rem; /* Espacio entre cartas */
    justify-content: center;
}

/* Estilo de cada carta */
/*Especificidad (0,0,2)*/
section > article {
    background-color: #0066cc; /* Color de fondo de la carta */
    width: 100%; /* Ancho de la carta relativo */
    aspect-ratio: 5 / 7; /* Relación de aspecto para mantener la forma */
    border-radius: 0.5rem; /* Bordes redondeados */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    backface-visibility: hidden;
    color: #f0f0f0;
}

/* Frente y reverso de la carta */
/*Especificidad (0,0,3)*/
/*La carta tiene el mismo color por detras que por delante*/
section > article > h3, section > article > img {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    color: #0066cc;
    background-color: #f0f0f0;
}

/* Mostrar el frente (texto) */
/*Especificidad (0,0,3)*/
section > article > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
   
    
}

/* Imagen (reverso) */
/*Especificidad (0,0,3)*/
section > article > img {
    transform: rotateY(180deg);
    
}

/* Carta volteada */
/*Especificidad (0,1,2)*/
section > article.flip {
    transform: rotateY(180deg);
   
}
